Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus eos
quas sunt, illo, tenetur labore unde blanditiis officia ducimus cupiditate
inventore, excepturi veritatis. Reiciendis iste consectetur, omnis dolorum,
aspernatur quae quaerat nulla quia nisi quo unde recusandae doloribus obcaecati
vitae, exercitationem iure possimus itaque inventore! Pariatur quis sint tenetur
facilis veritatis accusamus optio minus minima amet eveniet facere voluptatem
illo placeat, consequatur perspiciatis quas autem eaque? Iste velit corporis
nisi fuga blanditiis aliquam rem nostrum, officiis, quibusdam ea tenetur odio
recusandae ducimus optio voluptatibus laborum unde numquam doloremque veniam
sequi. Et repellendus impedit maxime commodi modi sequi laborum ipsam adipisci?
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ut
    nihil minima mollitia enim in nulla reiciendis totam, explicabo modi
    nesciunt accusantium praesentium quas a accusamus veritatis numquam eius,
    dolor delectus fuga nam commodi neque optio? Porro, quasi tenetur nesciunt
    asperiores dolore, architecto distinctio impedit cumque id enim officiis
    tempore.
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque optio
    explicabo officiis, non debitis eaque nostrum tenetur repellat quis iure
    aliquid, facere veniam. Eos laborum iure necessitatibus impedit amet,
    tenetur et corporis consectetur accusantium odio voluptate expedita quo
    earum reprehenderit tempora, magnam officiis voluptatem quaerat! Deleniti
    quisquam odio velit. Beatae?
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, nulla
    consequatur quidem magnam atque repellat et deserunt incidunt cumque unde.
    Blanditiis repellat magnam reprehenderit expedita voluptatibus eligendi
    dicta iure, nihil earum voluptatem, rerum totam. Aliquam cumque incidunt,
    nulla vitae explicabo similique deleniti quis id sunt, doloribus, voluptates
    neque distinctio eos!
</p>

Post::create([ 'title' => 'Judul Pertama', 'slug' => 'judul-pertama' , 'excerpt'
=> 'Lorem ipsum pertama', 'body' => '
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ut
    nihil minima mollitia enim in nulla reiciendis totam, explicabo modi
    nesciunt accusantium praesentium quas a accusamus veritatis numquam eius,
    dolor delectus fuga nam commodi neque optio? Porro, quasi tenetur nesciunt
    asperiores dolore, architecto distinctio impedit cumque id enim officiis
    tempore.
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque optio
    explicabo officiis, non debitis eaque nostrum tenetur repellat quis iure
    aliquid, facere veniam. Eos laborum iure necessitatibus impedit amet,
    tenetur et corporis consectetur accusantium odio voluptate expedita quo
    earum reprehenderit tempora, magnam officiis voluptatem quaerat! Deleniti
    quisquam odio velit. Beatae?
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, nulla
    consequatur quidem magnam atque repellat et deserunt incidunt cumque unde.
    Blanditiis repellat magnam reprehenderit expedita voluptatibus eligendi
    dicta iure, nihil earum voluptatem, rerum totam. Aliquam cumque incidunt,
    nulla vitae explicabo similique deleniti quis id sunt, doloribus, voluptates
    neque distinctio eos!
</p>
' ]);
